* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F8FF;
}

nav {
    padding: 1rem 1.5rem 0rem 1.5rem;
    max-width: 1300px;
    margin: 0 auto 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.logo-container {
    width: clamp(80px, 8.5vw, 130px);
    height: clamp(50px, 4.5vw, 80px);
}

.logo-container img {
    width: 100%;
    height: 100%;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.cart-container {
    display: flex;
    align-items: center;
    font-family: noto-serif, serif;
    color: rgb(61, 56, 56);
    gap: 0.5rem;
    font-size: 1.25rem;
    text-decoration: none;
}

.cart-container img {
    width: 1.5rem;
    height: 1.5rem;
}

nav a {
    text-decoration: none;
    color: black;
}

.shop,
.about-us {
    color: #8987A1;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1.5rem;
    min-height: 400px;
}
.bold{
    font-weight: bold;
}

.left-sec {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.left-sec h1 {
    font-size: clamp(1.5rem, 4vw, 4.0625rem);
    font-family: 'Noto Serif', serif;
}

.left-sec h1 span {
    color: #E95A08;
}

.left-sec p {
    font-family: 'Noto Serif', serif;
    font-size: 1.22rem;
    color: #00000080;
    padding-top: 1rem;
}

.right-sec img {
    max-width: 100%;
    height: auto;
    display: block;
}

.heading {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    padding: 15rem 1.5rem 2rem;
}

.heading h2 {
    font-size: 3.25rem;
    font-family: 'Noto Serif', serif;
    color: black;
    margin-bottom: 1rem;
}

.heading h2 span {
    color: #E95A08;
}

.heading p {
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.5);
}

.card-container {
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 0 auto 10rem;
    padding: 0 1.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3,
.card p {
    font-family: 'Inter', sans-serif;
}

.card h3 {
    font-size: 1.25rem;
    color: #111111;
    font-weight: normal;
}

.card p {
    font-size: 1.25rem;
    color: #111111;
    font-weight: bold;
}

.btn {
    background-color: #E95A08;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 0.75rem 0;
    border: none;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.25s ease, color 0.25s ease, transform 0.25s ease, border 0.25s ease;
    transform-origin: center center;
}

.btn:hover {
    color: #d85a08;
    background-color: white;
    border: 1px solid #E95A08;
    transform: scale(1.05);
}

.plant-lover {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 0 1.5rem;
}

.plant-image-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 540px;
}

.plant-image-wrapper .flower-store {
    display: block;
    width: 100%;
    height: auto;
}

.plant-image-wrapper .trusted {
    position: absolute;
    top: -80px;
    right: -80px;
    width: 200px;
    height: 200px;
}

.plant-lover .right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.plant-lover .right p {
    font-size: clamp(1.2rem, 5vw, 2.5rem);
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    padding-bottom: 1rem;
}

.plant-lover .right ul {
    padding-left: 1.5rem;
}

.plant-lover .right ul li {
    font-family: 'Noto Serif', serif;
    font-size: clamp(0.8rem, 2.5vw, 1.25rem);
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 1rem;
}

.deal {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    padding: 5rem 1.5rem 2rem;
}

.deal h2 {
    font-size: 3.25rem;
    font-family: 'Noto Serif', serif;
    color: black;
    margin-bottom: 1rem;
}

.deal h2 span {
    color: #E95A08;
}

.deal p {
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.5);
}

.latest-deals {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    max-width: 1300px;
    padding: 0 1.5rem;
    margin: 0 auto;
    margin-bottom: 7rem;
}

.left-deals .up,
.left-deals .down,
.right-deal {
    font-family: 'Noto Serif', serif;
    aspect-ratio: 16 / 9;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    ;
}

.left-deals .up p,
.left-deals .down p {
    font-size: clamp(1rem, 1.5vw, 2rem);
    text-align: center;
    padding-bottom: 0.3rem;

}

.right-deal p {
    font-size: clamp(1.75rem, 3vw, 3rem);
    text-align: center;
    padding-bottom: 0.6rem;
}

.up a,
.down a,
.right-deal a {
    color: white;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-size:
        clamp(0.9rem, 1.5vw, 1.25rem);
}



.left-deals {
    flex: 3.5;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.left-deals .up,
.left-deals .down {
    flex: 1;
}

.right-deal {
    flex: 6.5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.up,
.down {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
}

.up {
    background-image: url('./assets/deal-bloom1.png');

}

.down {
    background-image: url('./assets/deal-ana1.png');
}

.right-deal {
    background-image: url('./assets/deal-zabo1.png');
}

.join {
    width: 100%;
    aspect-ratio: 1440 / 600;
    background-image: url('./assets/news-letter-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.join p {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    color: white;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    padding-bottom: 1rem;
}

.join .subscribe-form {
    display: flex;
    width: clamp(90px, 90%, 1000px);
    margin-top: 1rem;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.join .subscribe-form input {
    flex: 1;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    border: none;
    outline: none;
}

.join .subscribe-form button {
    background-color: #E95A08;
    color: white;
    padding: 0 1.5rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

footer {
    padding: 5rem clamp(1.5rem, 10vw, 9rem);
    margin: 0 auto;
    background-color: #ffffff72;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
}

.footer-logo {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer-logo img {
    width: 120px;
    height: auto;
    padding-bottom: 1rem;
}

.footer-logo p {
    font-family: 'Inter', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-size: clamp(0.9rem, 1.5vw, 1.25rem);
    margin-top: 0.5rem;
    max-width: 300px;
}

.footer-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2rem;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    row-gap: 20px;
}

.footer-links a {
    color: gray;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-size: 1rem;
}

.footer-socials {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.footer-socials img {
    width: 2rem;
    height: 2rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.trusted {
    animation: spin 60s linear infinite;
}


@media screen and (max-width: 768px) {
    .banner {
        flex-direction: column-reverse;
        gap: 2rem;
        padding: 0;
    }

    .left-sec,
    .right-sec {
        width: 100%;
    }

    .right-sec img {
        width: 100%;
        height: auto;
    }

    .left-sec h1 {
        font-size: 2.5rem;
    }

    .left-sec {
        padding: 0 1rem;
    }

    .left-sec p {
        font-size: 1rem;
    }

    .nav-list {
        display: none;
    }

    .heading {
        padding: 4rem 1rem;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .plant-lover {
        flex-direction: column;
    }

    .plant-lover .right {
        width: 100%;
    }

    .plant-image-wrapper .trusted {
        display: none;
    }

    .deal {
        padding: 4rem 1rem;
    }

    .latest-deals {
        flex-direction: column;
    }

    .left-deals .down {
        border-radius: 0px;
    }

    .right-deal {
        border-radius: 12px;
    }

    .right-deal p {
        font-size: clamp(1rem, 1.5vw, 2rem);
    }

    .join .subscribe-form {
        width: 90%;
    }

    .join {
        aspect-ratio: 1440 / 700;
    }

    footer {
        flex-direction: column;
    }

    .footer-links {
        padding-left: 0;
    }

    .footer-links ul {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }

    .footer-logo img {
        width: 150px;
        height: auto;
    }

    .join .subscribe-form input {
        padding: 1rem 0.75rem;
    }

    .hide {
        display: none;
    }
    .latest-deals {
    margin-bottom: 3rem;
}

}