*{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    padding: 0 1.5rem;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.logo-container{
    width: 130px;
    height: 80px;
}

.logo-container img{
    width: 100%;
    height: 100%;
}
.right-section{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 1.5rem;
}

.cart-container{
    display: flex;
    align-items: center;
}

.cart-container img{
    width: 1.5rem;
    height: 1.5rem;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

.cart-container{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: rgb(61, 56, 56);
    gap: 0.5rem;
}
.shop{
    color: #8987A1;
}
.about-us{
    color: #8987A1;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1.5rem;
    min-height: 400px;
}
.left-sec{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: flex-start;    
}

.left-sec h1 {
    font-size: clamp(1.5rem, 4vw, 4.0625rem);
    font-family: 'Noto Serif', serif;
}

.left-sec h1 span {
    color: #E95A08;
}

.left-sec p {
    font-family: 'noto-serif', serif;
    font-size: 1.22rem;
    color: #00000080;
    padding-top: 1rem;
}

.right-sec img {
    max-width: 100%;
    height: auto;
    display: block;
}

@media screen and (max-width: 768px) {
    .banner {
        flex-direction: column;
        flex-direction: column-reverse;
        gap: 2rem;
        padding: 0;
    }
    .right-sec {
        width: 100%;
    }
    .left-sec{
        width: 90%;
        margin: 0 auto;
    }
    .right-sec img{
        width: 100%;
        height: auto;
    }

    .left-sec h1 {
        font-size: 2.5rem;
    }
    .left-sec p {
        font-size: 1rem;
    }
    .nav-list{
        display: none;
    }
}